<div id="myModal" class="modal">


    <div>
        <!-- <button (click)="startRecognition()">Start Recognition</button>
        <button (click)="stopRecognition()">Stop Recognition</button> -->

        <button >Start Recognition</button><br />
        <button >Stop Recognition</button>
    </div>
      <!-- hello -->

      <div class="main auth-signup">
        <div class="modal-menubar">
            <span class="close" title="close" >&times;</span>
            <!-- (click)="closeModal()" -->
        </div>
        <p class="sign">Sign Up</p>
        <form class="form1">
            <div class="input-container">
                <span class="input-icon">
                    <!-- <span class="input-error">Invalid Password</span> -->
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </span>
                <input class="un" type="text" placeholder="First Name" />
            </div>
            <div class="input-container">
                <span class="input-icon">
                    <!-- <span class="input-error">Invalid Password</span> -->
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </span>
                <input class="un" type="text" placeholder="Last Name" />
            </div>
            <div class="input-container">
                <span class="input-icon">
                    <!-- <span class="input-error">Invalid Password</span> -->
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </span>
                <input class="un" type="email" placeholder="Email" />
            </div>
            <div class="input-container">
                <span class="input-icon">
                    <!-- <span class="input-error">Invalid Password</span> -->
                    <i class="fa fa-lock" aria-hidden="true"></i>
                   <!-- <i class="fa fa-unlock" aria-hidden="true"></i> -->
                </span>
                <input class="pass" type="password" placeholder="Password" />
                <span class="eye-password">
                    <i class="fa fa-eye" aria-hidden="true" title="Show Password"></i>
                    <!-- <i class="fa fa-eye-slash" aria-hidden="true" title="Hide Password"></i> -->
                </span>
            </div>
            <a class="submit">Sign Up</a>
        </form>
        <p class="signup"><a href="#">Log In?</a></p> 
        <p class="forgot"><a href="#">Forgot Password?</a></p>      
      </div>

</div>
