<!-- Your Wishlist Area -->
<div class="wwishlist-area section animate__animated animate__fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title section-title-2">
                    <h2>Your Wishlist</h2>
                </div>
            </div>
        </div>

        <div class="cart-item-contain">
            <div class="card">
                <div class="row">
                    <div class="col-md-12 cart">
                        <div class="row border-bottom">
                        <!-- <div class="row border-top border-bottom"> -->
                            <div class="row main align-items-center">
                                <div class="col-1 click-icon"><i class="fa fa-trash-o" aria-hidden="true" (click)="deleteItemInCartHandler('64734vr')"></i></div>
                                <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                                <div class="col">
                                    <div class="row text-muted">Shirt</div>
                                    <div class="row">Cotton T-shirt</div>
                                </div>
                                <div class="col">&dollar; 144.00</div>
                                <div class="col">
                                    <button type="button" class="btn checkout-btn animate" (click)="addToCartHandler('64734vr')">
                                        Add to Cart
                                      </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row main align-items-center">
                                <div class="col-1 click-icon"><i class="fa fa-trash-o" aria-hidden="true" (click)="deleteItemInCartHandler('64734vr')"></i></div>
                                <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/ba3tvGm.jpg"></div>
                                <div class="col">
                                    <div class="row text-muted">Shirt</div>
                                    <div class="row">Cotton T-shirt</div>
                                </div>
                                <div class="col">&dollar; 50.00 </div>
                                <div class="col">
                                    <button type="button" class="btn checkout-btn animate" (click)="addToCartHandler('64734vr')">
                                        Add to Cart
                                      </button>
                                </div>
                            </div>
                        </div>
                        <div class="row border-top">
                            <div class="row main align-items-center">
                                <div class="col-1 click-icon"><i class="fa fa-trash-o" aria-hidden="true" (click)="deleteItemInCartHandler('64734vr')"></i></div>
                                <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/pHQ3xT3.jpg"></div>
                                <div class="col">
                                    <div class="row text-muted">Shirt</div>
                                    <div class="row">Cotton T-shirt</div>
                                </div>
                                <div class="col">&dollar; 27.00 </div>
                                <div class="col">
                                    <button type="button" class="btn checkout-btn animate" (click)="addToCartHandler('64734vr')">
                                        Add to Cart
                                      </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>

    </div>
</div>
<!-- End Your Wishlist Area -->